.form-item-submitted-credit-card-details-expiry-month,
.form-item-submitted-credit-card-details-expiry-year {
  display: inline-block;
}

.flo2cash-payment-form .form-item.error {
  background: transparent;
  border: none;
}
